@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-desynkro: 0px 1px 25px 5px #000000ad;

  --color-nav: #00202b;

  --background-image-digisonica: url('./assets/images/digisonica_bg.png');
  --background-image-digisonica-02: url('./assets/images/digisonica_bg_02.png');
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
    font-family: 'Franklin Gothic Demi Cond', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

@media (pointer: none), (pointer: coarse) {
    .touch-screen {
        @apply flex;
    }
}

@media (pointer: fine) {
    .touch-screen {
        @apply hidden;
    }
}
